-r requirements.txt

# DON'T pin these to specific versions as we run tests on a range of Python versions
# and some of the below packages drop support for EOL Python version in their minor
# or patch releases, sooner that we want to drop them. Maintaining specific versions
# here will be a hell and it's not worth it.

# testing tools
bandit
coverage
flake8<7
pytest<8
pytest-cov
pytest-flake8
pytest-mypy
cov-core
mypy

# modules used in our tests
httpretty
